<mat-card appearance="raised" class="game">
    @if (game()?.cover && game()?.cover !== undefined && game()?.cover?.url !==
    undefined) {
    <img mat-card-avatar [src]="game()?.cover?.url" [alt]="game()?.name" />
    }
    <mat-card-title>{{ game()?.name }}</mat-card-title>
    <mat-card-content>
        Rating: {{ game()?.aggregated_rating?.toFixed(0) }}
    </mat-card-content>
    <mat-card-actions>
        <app-game-track-button [game]="game()"></app-game-track-button>
    </mat-card-actions>
</mat-card>
